[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
dataclasses = "*"
measurement = "*"
pycountry = "*"

[dev-packages]
pytest = "*"
pylint = "*"
pandas = "*"
babel = "*"
jupyter = "*"

[requires]
python_version = "3.6"
