[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.19"
dataclasses = "*"
measurement = ">=2"
pycountry = "*"

[dev-packages]
pytest = ">=3.8"
pylint = ">=1.8"
pandas = ">=0.23"
babel = "*"
jupyter = "*"
tox = "*"
detox = "*"
"flake8" = "*"
sphinx = "*"
defusedxml = "*"
matplotlib = "*"

[requires]
python_version = "3.6"
